{% extends 'oscar/dashboard/layout.html' %}

{% load category_tags %}
{% load i18n %}
{% load render_table from django_tables2 %}

{% block body_class %}
  {{ block.super }} catalogue
{% endblock body_class %}
{% block title %}
  {% trans "Categories" %} | {{ block.super }}
{% endblock title %}
{% block breadcrumbs %}
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="{% url 'dashboard:index' %}">{% trans "Dashboard" %}</a>
      </li>
      <li class="breadcrumb-item active" aria-current="page">{% trans "Categories" %}</li>
    </ol>
  </nav>
{% endblock breadcrumbs %}
{% block header %}
  <div class="page-header">
    <a href="{% url 'blog_dashboard:category-create' %}"
       class="btn btn-primary float-right">
      <i class="fas fa-plus-circle"></i> {% trans "Create new category" %} </a>
    <h1>{% trans "Categories" %}</h1>
  </div>
{% endblock header %}
{% block dashboard_content %}
  <div class="card shadow-sm">
    <table class="table table-striped table-bordered table-hover">
      {% render_table categories %}
    </table>
  </div>
{% endblock dashboard_content %}
